export(enrichbar)
export(enrichdot)
export(keggenrich)
import(ggplot2)
import(stringr)
import(KEGGREST)
importFrom(utils, txtProgressBar)
importFrom(utils, setTxtProgressBar)
importFrom(stats, p.adjust)
importFrom(stats, phyper)
